.sec-ui-list {
  border: solid 1px #cacaca;
  display: inline-block;
  overflow: auto;
}

.sec-ui-list:focus {
  border: solid 1px #82878c;
  outline: none;
}

.sec-ui-list-option {
  cursor: default;
  padding: 3px 10px;
  user-select: none;
}

.sec-ui-list-option-selected {
  color: #fff;
  background-color: #59cbe8;
}
