.sec-ui-table-container {
  border: 1px solid #cacaca;
  overflow: auto;
}

.sec-ui-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.sec-ui-table th,
.sec-ui-table td {
  border: 1px solid #cacaca;
  height: 38px;
  padding: 6px 10px;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
}

.sec-ui-table thead tr:first-child th {
  border-top: none;
}

.sec-ui-table:not(.sec-ui-table-render-last-row-border) tbody tr:last-child td {
  border-bottom: none;
}

.sec-ui-table thead tr th:first-child,
.sec-ui-table tbody tr td:first-child {
  border-left: none;
}

.sec-ui-table thead tr th:last-child,
.sec-ui-table tbody tr td:last-child {
  border-right: none;
}

.sec-ui-table thead tr,
.sec-ui-table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

.sec-ui-table tbody tr:nth-child(odd) {
  background-color: #fcfcfc;
}

.sec-ui-table tbody tr:hover {
  background-color: #d9f8ff;
}

.sec-ui-table tbody tr.sec-ui-table-row-clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sec-ui-table .sec-ui-table-selection-column {
  text-align: center;
  width: 60px;
}
